<section class="collection section">
  <div class="collection-container container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list list">
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/mobile/poltava-1x.jpeg 1x,
              ./img/mobile/poltava-2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/poltava-1x.jpeg 1x,
              ./img/tablet/poltava-2x.jpeg 2x
            "
            media="(max-width: 1279px)"
          />

          <source
            srcset="
              ./img/desktop/poltava-1x.jpeg 1x,
              ./img/desktop/poltava-2x.jpeg 2x
            "
            media="(max-width: 1439px)"
          />

          <source
            srcset="
              ./img/desktop-1440/poltava-1x.jpeg 1x,
              ./img/desktop-1440/poltava-2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- <source srcset="1x, 2x" media="(max-width: 1158px)" /> -->
          <img
            src="./img/mobile/poltava-1x.jpeg"
            alt="blousering"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <h3 class="collection-subtitle">August Poltava women's blousering</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/mobile/gorgany-1x.jpeg 1x,
              ./img/mobile/gorgany-2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/gorgany-1x.jpeg 1x,
              ./img/tablet/gorgany-2x.jpeg 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./img/desktop/gorgany-1x.jpeg 1x,
              ./img/desktop/gorgany-2x.jpeg 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/desktop-1440/gorgany-1x.jpeg 1x,
              ./img/desktop-1440/gorgany-2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- <source srcset="1x, 2x" media="(max-width: 1158px)" /> -->
          <img
            src="./img/mobile/gorgany-1x.jpeg"
            alt="blouse"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
        <p class="collection-text">3350 UAH</p>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/mobile/crimea-1x.jpeg 1x,
              ./img/mobile/crimea-2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/crimea-1x.jpeg 1x,
              ./img/tablet/crimea-2x.jpeg 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./img/desktop/crimea-1x.jpeg 1x,
              ./img/desktop/crimea-2x.jpeg 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/desktop-1440/crimea-1x.jpeg 1x,
              ./img/desktop-1440/crimea-2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- <source srcset="1x, 2x" media="(max-width: 1158px)" /> -->
          <img
            src="./img/mobile/crimea-1x.jpeg"
            alt="blouse"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <h3 class="collection-subtitle">Women's blouse Crimea</h3>
        <p class="collection-text">4000 UAH</p>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/mobile/verkhovina-1x.jpeg 1x,
              ./img/mobile/verkhovina-2x.jpeg 2x
            "
            media="(max-width: 767px)" />
          <source
            srcset="
              ./img/tablet/verkhovina-tablet-1x.jpeg 1x,
              ./img/tablet/verkhovina-tablet-2x.jpeg 2x
            "
            media="(max-width: 1279px)" />
          <source
            srcset="
              ./img/desktop/verkhovina-1x.jpeg 1x,
              ./img/desktop/verkhovina-2x.jpeg 2x
            "
            media="(max-width: 1439px)" />
          <source
            srcset="
              ./img/desktop-1440/verkhovina-1x.jpeg 1x,
              ./img/desktop-1440/verkhovina-2x.jpeg 2x
            "
            media="(min-width: 1440px)" />
          <!-- <source srcset="1x, 2x" media="(max-width: 1158px)" /> -->
          <img
            src="./img/mobile/verkhovina-1x.jpeg"
            alt="shirt"
            width="335"
            height="400"
            class="collection-img"
        /></picture>
        <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
        <p class="collection-text">3100 UAH</p>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/mobile/mountain-1x.jpeg 1x,
              ./img/mobile/mountain-2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/mountain-1x.jpeg 1x,
              ./img/tablet/mountain-2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/desktop/mountain-1x.jpeg 1x,
              ./img/desktop/mountain-2x.jpeg 2x
            "
            media="(max-width: 1280px)"
          />
          <source
            srcset="
              ./img/desktop-1440/moutain-1x.jpeg 1x,
              ./img/desktop-1440/moutain-2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- <source srcset="1x, 2x" media="(max-width: 1158px)" /> -->
          <img
            src="./img/mobile/mountain-1x.jpeg"
            alt="shirt"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <h3 class="collection-subtitle">Mountain men's shirt</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/mobile/yasen-1x.jpeg 1x,
              ./img/mobile/yasen-2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/yasen-1x.jpeg 1x,
              ./img/tablet/yasen-2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/desktop/yasen-1x.jpeg 1x,
              ./img/desktop/yasen-2x.jpeg 2x
            "
            media="(max-width: 1280px)"
          />
          <source
            srcset="
              ./img/desktop-1440/yasen-1x.jpeg 1x,
              ./img/desktop-1440/yasen-2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- <source srcset="1x, 2x" media="(max-width: 1158px)" /> -->
          <img
            src="./img/mobile/yasen-1x.jpeg"
            alt="shirt"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <h3 class="collection-subtitle">Men's shirt Yasen</h3>
        <p class="collection-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
