<section class="collection">
  <h2 class="collection-title">Our collection</h2>
  <ul class="collection-list">
    <li class="collection-card">
      <img
        src=""
        alt="blousering"
        width="335"
        height="400"
        class="collection-img"
      />
      <h3 class="collection-subtitle">August Poltava women's blousering</h3>
      <p class="collection-text">3300 UAH</p>
    </li>
    <li class="collection-card">
      <img
        src=""
        alt="blouse"
        width="335"
        height="400"
        class="collection-img"
      />
      <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
      <p class="collection-text">3350 UAH</p>
    </li>
    <li class="collection-card">
      <img
        src=""
        alt="blouse"
        width="335"
        height="400"
        class="collection-img"
      />
      <h3 class="collection-subtitle">Women's blouse Crimea</h3>
      <p class="collection-text">4000 UAH</p>
    </li>
    <li class="collection-card">
      <img src="" alt="shirt" width="335" height="400" class="collection-img" />
      <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
      <p class="collection-text">3100 UAH</p>
    </li>
    <li class="collection-card">
      <img src="" alt="shirt" width="335" height="400" class="collection-img" />
      <h3 class="collection-subtitle">Mountain men's shirt</h3>
      <p class="collection-text">3300 UAH</p>
    </li>
    <li class="collection-card">
      <img src="" alt="shirt" width="335" height="400" class="collection-img" />
      <h3 class="collection-subtitle">Men's shirt Yasen</h3>
      <p class="collection-text">1700 UAH</p>
    </li>
  </ul>
</section>
