<footer class="footer">
  <div class="container footer-container">
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#about">About us</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#collection">Our collection</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#order">Customer Order</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </div>
    <p class="footer-text">
      A touch of
      <span class="footer-span-text">Ukrainian</span>
      culture in every embroidery
    </p>
  </div>
</footer>
