<section class="hero">
  <div class="container hero-container">
    <div class="container-title">
      <div class="hero-star">
        <svg class="" width="52" height="51">
          <use href="./img/symbol-defs.svg#icon-Star"></use>
        </svg>
        <p class="hero-star-text">all embroidery is made by hand</p>
      </div>
      <div class="hero-titleandlink">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-color-title">Ukrainian</span> artistry in every
          stitch.
        </h1>

        <a href="#order" class="hero-link"
          >Order
          <svg class="svg-arrow" width="15" height="19">
            <use href="./img/symbol-defs.svg#order"></use>
          </svg>
        </a>
      </div>
    </div>
    <picture class="portfolio-picture">
      <source
        srcset="
          ./img/hero/girl-desktop-1x.jpg 1x,
          ./img/hero/girl-desktop-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/tablet/girl-1x.jpeg 1x, ./img/tablet/girl-2x.jpeg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/mobile/girl-1x.jpeg 1x, ./img/mobile/girl-2x.jpeg 2x"
        media="(max-width: 767px)"
      />
      <img
        src="./img/mobile/girl-1x.jpeg"
        alt="girl-in-vyshyvanka"
        class="hero-img"
      />
    </picture>

    <picture class="">
      <source
        srcset="./img/hero/map-desktop-1x.jpg 1x, ./img/hero/map-desktop-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/hero/map-tablet-1x.jpg 1x, ./img/hero/map-tablet-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <img src="./img/tablet/map-1x.jpeg" alt="shirt" class="images-crop" width="139px" height="171px"/>
    </picture>
  </div>
</section>

