<link rel="stylesheet" href="../css/order.css">
<section class="order">
    <div class="order-photo">  
    </div>

    <div class="order-section">
        <h2 class="orer-text"><span class="order-span">Your order</span> is our priority: Personalized approach and quality of service</h2>

        <form  class="form-order"
        name="order-form"
        autocomplete="off"
        novalidate>
        
        <div class="order-label">
            <input type="text"  class="order-input" placeholder="Enter your full name">
            <input type="email" class="order-input"  placeholder="Enter your email">
            <textarea  class="textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Comments"></textarea>
        </div>
        <button type="submit" class="order-btn">Send
            <svg class="orer-icon" height="10" width="26">
                <use></use>
            </svg>
        </button>
    </form>
    </div>
</section>