
<section class="order" >
  
  <div class="container order-container">
  <div class="order-photo"></div>

    
  <div class="proba" id="order">
    
    <div class="order-section">
      <h2 class="order-text">
        <span class="order-span">Your order</span> is our priority: Personalized
        approach and quality of service
      </h2>
      <form class="form-order"  name="order-form" autocomplete="off" novalidate>
        <div class="order-label">
          <label for="label-order"> <input
            id="label-order"
            type="text"
            class="order-input"
            placeholder="Enter your full name"
            required
            pattern="regexp"
          /></label>
         
          <label for="order-input-two">
            <input
            id="order-input-two"
              type="email"
              class="order-input"
              placeholder="Enter your email"
              required
              pattern="regexp"
            />
          </label>
          <textarea
            class="order-input textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Comments"
            height="196"
            width="335"
          ></textarea>
        </div>
        <button type="submit" class="order-btn">
          Send
          <svg class="orer-icon" height="19" width="36">
            <use  class="logo-order-svg" href="./img/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    
    
        
    
    </div>
    
    <div class="order-section-last">
      <div class="order-section-two">
      </div>
      <div class="order-tree"></div>
    </div>
  </div>

</div>
</section>
