/*=====ABOUT=====*/

.about{
    background-image: url(../img/about/element-mob.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 260px 408px;
    margin-bottom: 20px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .about{
        background-image: url(../img/about/element-mob-2x.png);
    }
}

@media screen and (min-width:768px){
    .about{
        background-image: url(../img/about/element-tab.png);
        background-size: 380px 484px;
        margin-bottom: 50px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .about{
        background-image: url(../img/about/element-tab-2x.png);
        }
    }
}

@media screen and (min-width:1280px) {
    .about{
        background-image: url(../img/about/element-des1280.png);
        background-size: 390px 484px;
        margin-bottom: 70px;
        background-position: right bottom;
    }

        @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .about{
            background-image: url(../img/about/element-des1280-2x.png);
        }
    }
}

@media screen and (min-width:1440px) {
    .about{
        background-image: url(../img/about/element-des1440.png);
        background-size: 490px 484px;
    }

        @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .about{
            background-image: url(../img/about/element-des1440-2x.png);
        }
    }
}

/*=====CONTAINER-ABOUT=====*/

.container-about{
    padding-bottom: 60px;
    margin: 0 auto;
    padding: 80px 0 60px 0;
}

@media screen and (min-width:768px)  {
    .container-about{
        padding-bottom: 50px;
        padding: 100px 0 50px 0;
    }
}

@media screen and (min-width:1280px) {
    .container-about{
        padding: 150px 0 80px 0;
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }
}

/*=====ABOUT-TITLE=====*/

.about-title{
    color:#FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37; 
    letter-spacing: 0.03em;
    margin-bottom: 40px;
}

@media screen and (min-width:768px)  {
    .about-title{
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: 0.03em;
    }
}

/*=====ABOUT-TEXT=====*/

.about-text{
    width: 100%;
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-direction: column;
    line-height: normal;
}

@media screen and (min-width:768px)  {

    .about-text {
        width: 704px;
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width:1280px) {
    .about-text{
        width: 436px;
        margin-bottom: 0;
    }
}

@media screen and (min-width:1440px) {
    .about-text{
        width: 481px;
        margin-bottom: 0;
    }
}

/*=====ABOUT-IMG=====*/

.about-img{
    width: 335px;
    height: 499px;
    border-radius: 4px;
    margin: 0 auto;
}

@media screen and (min-width:768px)  {
    .about-img{
        width: 704px;
        height: 545px;
    }
}

@media screen and (min-width:1280px) {
    .about-img{
        width: 594px;
    }
}

@media screen and (min-width:1440px) {
    .about-img{
        width: 709px;
    }
}