/* MOBILE */
/* обертка секции */
.collection {
  padding-top: 18px;
  padding-bottom: 80px;
  background-image: url(../img/mobile/elements-bg-1x.png);
  background-position: 0 254px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .collection {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../img/tablet/elements-bg-1x.png);
    background-position: 0 224px;
  }
}

@media screen and (min-width: 1280px) {
  .collection {
    padding-top: 70px;
    padding-bottom: 150px;
    background-image: url(../img/desktop/elements-bg-1x.png);
    background-position: 0 224px;
  }
}

@media screen and (min-width: 1440px) {
  .collection {
    background-image: url(../img/desktop-1440/elements-bg-1x.png);
    background-position: 0 224px;
  }
}

/* collection-list */

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .collection-list {
    gap: 20px 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .collection-list {
    gap: 20px 20px;
  }
}

/* collection-card */

.collection-card {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .collection-card {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .collection-card {
    width: calc((100% - 40px) / 3);
  }
}

/* заголовок h2 */
.collection-title {
  font-weight: 500;
  line-height: 1.38px;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.003em;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 44px;
    line-height: 1.45;
  }
}

/* фото в секции */
.collection-img {
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .collection-img {
    width: 342px;
  }
}

@media screen and (min-width: 1280px) {
  .collection-img {
    width: 347px;
  }
}

@media screen and (min-width: 1440px) {
  .collection-img {
    width: 400px;
  }
}

/* заголовок h3 */
.collection-subtitle {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 18px;
  margin-bottom: 8px;
  overflow: hidden;
  color: #fcf9f9;
  text-overflow: ellipsis;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .collection-subtitle {
    font-size: 18px;
    height: 18px;
  }
}

/* текст с ценой */
.collection-text {
  line-height: 1;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .collection-text {
    font-size: 18px;
  }
}

/* collection-box fitch */

.collection-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-card:hover .collection-item-cover-text,
.collection-card:focus .collection-item-cover-text {
  transform: translateY(0);
}

.collection-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.collection-item-cover-text {
  position: absolute;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
  top: 0;
  height: 100%;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-item-img-box {
  position: relative;
  overflow: hidden;
}
