/* MOBILE */
/* обертка секции */
.collection {
  margin-top: 80px;
  background-image: url(../img/mobile/elements-bg-1x.png);
  background-position: 0 254px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .collection {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .collection {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .collection {
    padding-top: 150px;
  }
}

/* collection-list */

.collection-list {
}

@media screen and (min-width: 768px) {
  .collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .collection-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
  }
}

/* collection-card */

.collection-card {
}

@media screen and (min-width: 768px) {
  .collection-card {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .collection-card {
    width: calc((100% - 20px) / 4);
  }
}

/* заголовок h2 */
.collection-title {
  font-weight: 500;
  line-height: 44px;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 44px;
    line-height: 1.45;
  }
}

/* фото в секции */
.collection-img {
  border-radius: 3px;
  margin-bottom: 18px;
  margin-top: 20px;
}
/* заголовок h3 */
.collection-subtitle {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 14px;
  margin-bottom: 8px;
}
/* текст с ценой */
.collection-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  line-height: 14px;
}
