.footer {
  padding-top: 40px;
  padding-bottom: 292px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;

  background-image: url(../img/mobile/vyshyvanka-footer-mobile-1x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/mobile/vyshyvanka-footer-mobile-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 744px;
    background-image: url(../img/tablet/vyshyvanka-footer-tablet-1x.png);
    background-position: right;
    padding-bottom: 40px;
  }
}
/* 768 retina2x */
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/tablet/vyshyvanka-footer-tablet-2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1120px;
    background-image: url(../img/);
  }
}

/* 1280 retina2x */
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/);
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1280px;
    background-image: url(../img/);
  }
}

/* 1440 retina2x */
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/);
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-container {
  /* max-width: 375px; */
}
.footer-menu {
  max-width: 280px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-menu {
    max-width: 478px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-menu {
    margin-bottom: 117px;
  }
}

.footer-menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  column-gap: 40px;
}

@media screen and (min-width: 768px) {
  .footer-menu-list {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 25px;
  }
}

.footer-menu-list li:nth-child(1) {
  order: 1;
}

.footer-menu-list li:nth-child(2) {
  order: 3;
}

@media screen and (min-width: 768px) {
  .footer-menu-list li:nth-child(2) {
    order: 2;
  }
}

.footer-menu-list li:nth-child(3) {
  order: 2;
}

@media screen and (min-width: 768px) {
  .footer-menu-list li:nth-child(3) {
    order: 3;
  }
}

.footer-menu-list li:nth-child(4) {
  order: 4;
  margin-right: 28px;
}

@media screen and (min-width: 768px) {
  .footer-menu-list li:nth-child(4) {
    margin-right: 0px;
  }
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fcf9f9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--yellow, #ecd979);
}
.footer-text {
  color: #fcf9f9;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
  display: block;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 54px;
    line-height: 1.18;
    max-width: 521px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-text {
    font-size: 64px;
    line-height: 1.15;
    max-width: 754px;
  }
}

.footer-span-text {
  color: #ecd979;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 768px) {
  .footer-span-text {
    font-size: 54px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .footer-span-text {
    font-size: 64px;
    line-height: 1.15;
  }
}
