.hero {
  padding-top: 60px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    overflow: hidden;
    padding-top: 106px;
    max-width: 744px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 100px;
    max-width: 1120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1280px;
    justify-content: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.container-title {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .container-title {
    flex-direction: row;
  }
}

.hero-star {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-star {
    top: 114px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-star {
    top: 166px;
  }
}

.hero-star-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  max-width: 115px;
}

.hero-color-title {
  color: #ecd979;
}

.hero-title {
  color: #fcf9f9;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin: 0;
    font-size: 54px;
    line-height: 1.18;
    max-width: 549px;
    justify-content: end;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 518px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    font-size: 64px;
    line-height: 1.16;
    max-width: 632px;
    padding-top: 66px;
  }
}

.hero-link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 14px 36px;
  color: #fcf9f9;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 168px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover,
.hero-link:focus {
  border-radius: 15px;
  border: 1px solid #ecd979;
}


.hero-img {
  display: block;
}

.images-crop {
  display: none;
}

@media screen and (min-width: 768px) {
  .images-crop {
    display: block;
    position: absolute;
    right: 3px;
    bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
