.hero{
    background-color: black;
}

.hero-color-title{
    color: #ECD979;
    font-family: Manrope;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.03em;
}

.hero-title{
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.03em;
}

.hero-link{
    padding: 14px 36px;
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
}