.order-container{
    margin: 0 auto;
    width: 335px;
    
    
}


@media screen and (min-width: 768px) {
    .order-container {
      max-width: 768px;
    }

}
@media screen and (min-width: 1280px) {
    .order-container {
      max-width: 1120px;
    }
  }

.order-photo{
    width: 100%;
    height: 100%;
    height: 500px;
    background-image: url(../img/mobile/girl-about-1x.jpeg);
    margin: 80px 0 80px 0;
    padding-left: 0;
    padding-right: 0;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-size: contain;
}
@media screen and (min-width: 768px) {
    .order-photo{
        
        background: url(../img/tablet/girl-about-1x.jpeg) ;
        background-repeat: no-repeat;
        background-position:center;
        
        margin: 100px 0 100px 0;
        background-size: contain;
        width: 768px;
        height: 776px;
        
    }
}
@media screen and (min-width: 1280px) {
    .order-photo{
        
        background: url(../img/order/order-desktop.jpg) ;
        background-repeat: no-repeat;
        background-position:center;
        background-size: 100%;
        background-size: contain;
       
        min-width: 1282px;
        min-height: 776px;
    }
    
}

/* @media (min-width: 1280px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .order-photo{
        
        background: url(../img/order/order-desktop2x.jpg) ;
        background-repeat: no-repeat;
        background-position:center;
        background-size: 100%;
        background-size: contain;
       
        width: 1282px;
        height: 776px;
    }
} */



.order-section{
    display: flex;
    
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
@media screen and (min-width: 1280px) {
    
  }

.order-text{
    color: #FCF9F9;
    margin: 0;
font-size: 32px;
width: 335px;
font-weight: 500;
line-height: 1.38;
letter-spacing: -0.96px;
}



.order-span{
    color: #ECD979;
    
}
.form-order{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
@media screen and (min-width: 768px) {
    .form-order{
        display: flex;
    width: 508px;
    flex-direction: column;
    align-items: flex-start;
     gap: 20px;
    }
    
 

}
.order-input{
    border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
    display: flex;
width: 335px;
background-color: transparent;

padding: 14px 16px;
align-items: flex-start;
gap: 8px;
color: #FCF9F9;
font-family: 'Manrope',sans-serif;
color: #FCF9F9;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.32px;
}
.order-input:hover,.order-input:focus{
    border: 1px solid rgba(252, 249, 249, 0.60);
}
.order-input::placeholder{
    color: rgba(252, 249, 249, 0.50);
font-family: 'Manrope',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.32px;
}
@media screen and (min-width: 768px) {
     .order-text{
        width: 542px;
        font-size: 44px;  
        
    }
   
    .order-input::placeholder{
        font-size: 16px;
    }
   .order-section{
    align-items: start;
   }
    .order-input{
    width: 476px;
   }
   .textarea{
    width: 476px;
   }
}
.order-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    
    
}
.textarea{
    border-radius: 8px;
border: 1px solid rgba(252, 249, 249, 0.10);
    
    background-color: transparent;

height: 196px;
padding: 14px 16px;
display: block;
resize:none;

}
.logo-order-svg{
    width: 26px;
    height: 10px;

}
.order-btn{
    display: flex;
    background-color: transparent;
padding: 14px 36px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);

color: #FCF9F9;
line-height: normal;
font-family: "Manrope",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
letter-spacing: -0.56px;
text-transform: uppercase;
}
.order-btn:hover, .order-btn:focus{
    border: 1px solid var(--yellow, #ECD979);
}
.order-section-last{
    display: none;
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.order-section-two {
    background-image: url(../img/tablet/pattern-2x.jpeg);
}
.order-tree{
    background-image: url(../img/tablet/vyshyvka-tablet-bg-2x.png)
}

}
@media screen and (min-width: 768px) {
    .proba{
        position: relative;
    }
  
    .order-section-last{
        width: 100%;
        
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        
    }
    
    .order-section-two {
        
        
        width: 638px;
        height: 521px;
    border-radius: 4px;
    background: url(../img/tablet/pattern-1x.jpeg), lightgray 50% ;
    position: absolute;
    top:100px;
    
    
    background-repeat: no-repeat;
    
    }
  
    .order-tree{
        
        
        width: 545px;
        height: 484px;
padding: 0px 0.731px 0.539px 0px;

margin-top:216px ;
left: -30px;
margin-right: 400px;
position: relative;

transform: rotate(-180deg);
background-image: url(../img/tablet/vyshyvka-tablet-bg-1x.png);
    }
}

@media screen and (min-width: 1280px) {
    .order-section-two{
        width: 524px;
        margin-right: 50px;
        top:40px
    }
    .order-tree{
        left: 150px;
        top:-30px
    }
    .order-text{
        width: 542px;
        font-size: 44px;
    }
    .proba{
        display: flex;
        flex-direction: row-reverse;
    }
}