.order-container{
    margin: 0 auto;
    width: 335px;
}
.order-photo{
    width: 100%;
    height: 100%;
    height: 550px;
    background-image: url(../img/mobile/girl-about-1x.jpeg);
    
    /* background-size: cover; */
    background-position:center;
    padding: 0;
    margin: 80px 0 80px;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.order-section{
    display: flex;
    
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.orer-text{
    color: #FCF9F9;
    margin: 0;
font-size: 32px;

font-weight: 500;
line-height: 1.38;
letter-spacing: -0.96px;
}
.order-span{
    color: #ECD979;
    
}
.form-order{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.order-input{
    border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
    display: flex;
width: 335px;
background-color: transparent;

padding: 14px 16px;
align-items: flex-start;
gap: 8px;
color: #FCF9F9;
font-family: 'Manrope',sans-serif;
color: #FCF9F9;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.32px;
}
.order-input:hover,.order-input:focus{
    border: 1px solid rgba(252, 249, 249, 0.60);
}
.order-input::placeholder{
    color: rgba(252, 249, 249, 0.50);
font-family: 'Manrope',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.32px;
}
.order-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    
    
}
.textarea{
    border-radius: 8px;
border: 1px solid rgba(252, 249, 249, 0.10);
    
    background-color: transparent;
width: 335px;
height: 196px;
padding: 14px 16px;
display: block;
resize:none;

}
.logo-order-svg{
    width: 26px;
height: 10px;

}
.order-btn{
    display: flex;
    background-color: transparent;
padding: 14px 36px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);

color: #FCF9F9;
line-height: normal;
font-family: "Manrope",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
letter-spacing: -0.56px;
text-transform: uppercase;
}
.order-btn:hover, .order-btn:focus{
    border: 1px solid var(--yellow, #ECD979);
}